name: CI
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
on:
  - pull_request
  - push
jobs:
  windows:
    name: Test on Windows
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Restore chocolatey
        uses: actions/cache@v2
        with:
          path: C:\Users\runneradmin\AppData\Local\Temp\chocolatey
          key: ${{ runner.os }}-chocolatey-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-chocolatey-
      - name: Setup Elixir
        run: |
          cinst elixir --no-progress
          echo "C:\ProgramData\chocolatey\lib\Elixir\bin;C:\ProgramData\chocolatey\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Install hex
        run: mix local.hex --force
      - name: Install rebar
        run: mix local.rebar --force
      - name: Get dependencies
        run: mix deps.get
      - name: Compile dependencies
        run: |
          set MIX_ENV=test
          mix deps.compile --warning-as-errors
      - name: Run tests with coverage
        run: |
          set MIX_ENV=test
          mix coveralls.github
